{% extends 'base.html' %}
{% load static %}
{% block title %}词医-主页{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ dic_name }}<small>当前词表</small></h1>
        <p class="lead">词医，你的智能背单词小助手</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">开始背词吧！</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            {% for w in word_list %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="panel panel-success">
                        <div class="panel-heading">{{ w.description }}</div>
                        <div class="panel-body">
                            <h4>{{ w.text }} <small>{{ w.category }}</small></h4>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg-6">
            {% for w in word_list %}
                {% if not forloop.counter0|divisibleby:2 %}
                    <div class="panel panel-success">
                        <div class="panel-heading">{{ w.description }}</div>
                        <div class="panel-body">
                            <h4>{{ w.text }} <small>{{ w.category }}</small></h4>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <button type="button" class="btn btn-link btn-sm btn-block">
                <span class="glyphicon glyphicon-refresh"></span> 换一批
            </button>
        </div>
    </div>




{% endblock %}
